<div id="home">

  <section class="section-landing">
    <h1 class="section-title-home">digitales</h1>
    <!-- <p class="paragraphe-home">Digitales est une plateforme qui rassemble des récits témoignant de l’impact du numérique dans la vie de chacun. C’est une invitation a explorer l’aventure numérique au travers d’une multitude de portraits internationaux.</p> -->
    <div class='mouse-container'>
      <div class='mouse'>
        <span class='scroll-down'></span>
      </div>
    </div>
  </section>

  <section class="section-presentation">

  <%= link_to '/portraits' do %>
    <article class="container-portrait">
        <div class="content-text">
          <h2 class="section-title">les portraits</h2>
          <p class="paragraph">Choisissez la dimension qui vous intéresse, vous pourrez ensuite naviguer au travers des portraits ou des indéfinitions liées à ce thème.</p>
        </div>
        <div class="content-img" data-parallax="3" style="transform: translateY(24px);">
          <%= image_tag 'portrait-show.jpg' %>
        </div>
    </article>
  <% end %>

  <%= link_to '/indefinitions' do %>
    <article class="container-indef">
        <div class="content-img" data-parallax="1" style="transform: translateY(24px);">
          <%= image_tag 'indef-show.jpg' %>
        </div>
        <div class="content-text">
          <h2 class="section-title">les indéfinitions</h2>
          <p class="paragraph">Cherchez un terme particulier, une dimensions ou mëme seulement une lettre. Soumettez nous votre mot et votre indéfinition si vous ne la trouver pas ici.</p>
        </div>
    </article>
  <% end %>
  </section>

<div class="background-container">
    <section class="section-news">

      <article class="container-news-portrait">
        <h2 class="section-news-title">Derniers portraits</h2>

        <div class="flex-box-grid-container">

          <% @portrait.each do |portrait| %>
            <div class="flex-box-grid-content">
              <% if !portrait.url.blank? %>
                <iframe frameborder="0" width="350px" height="350px" src=" <%= portrait.url %> "></iframe>
              <% else portrait.url.blank? %>
              <% end %>
              <h3 class="title-description"><%= portrait.name %></h3>
              <p class="title-author">De <%= portrait.auteur %></p>
              <h4 class="title-links-container">Dimensions</h4>
                <div class="container-link-dimensions">
                  <% portrait.variable.each do |variable| %>
                    <p class="link-dimensions"><%= link_to variable.name.downcase!, "/indefinitions?variable="+variable.id.to_s %></p>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>

      </article>

      <article class="container-news-indef">

        <h2 class="section-news-title">Dernières indéfinitions</h2>

        <div class="flex-box-grid-container">
          <% @indefinitions.each do |indefinition| %>
            <div class="flex-box-grid-content">
                <h3 class="title-description"><%= indefinition.name %></h3>
                <p class="paragraph-news"><%= indefinition.texte %></p>
                <% if !indefinition.url.blank? %>
                  <iframe frameborder="0" width="400px" height="400px" src=" <%= indefinition.url %> "></iframe>
                <% else indefinition.url.blank? %>

                <% end %>
                <h4 class="title-links-container">Dimensions</h4>
                  <div class="container-link-dimensions">
                    <% indefinition.variable.each do |variable| %>
                      <p class="link-dimensions"><%=link_to variable.name.downcase!, variable_path(variable)%></p>
                    <% end %>
                  </div>
            </div>
          <% end %>
        </div>
      </article>

    </section>
  </div>
</div>
