<% unless @variable.nil?
  var_intro = @variable.name
end%>

<div id="indef">

  <div class="title">
    <h1 class="section-title"><%= var_intro %> Indefinitions</h1>
    <p class="paragraph">Cherchez un terme particulier, une dimensions ou mëme seulement une lettre. Si ce que vous cherchez n’est pas encore féférencer ici, soumettez nous votre mot et votre indéfinitions.</p>
  </div>
<div id="down">
    <div id="navigate">
      <ul id="alphabet"></ul>
      <div class="btn-reset">
        <%= link_to 'tout voir', "/indefinitions"%>
      </div>
    </div>

      <section class="section-indef">
        <article class="container-news-indef">
          <div class="flex-box-grid-container">
            <% @indefinitions.each do |indefinition| %>
              <div class="flex-box-grid-content">
                  <h3 class="title-description"><%= indefinition.name %></h3>
                  <div class="paragraph-news"><%= simple_format(indefinition.texte) %></div>
                  <% if !indefinition.url.blank? %>
                    <iframe frameborder="0" width="400px" height="400px" src=" <%= indefinition.url %> "></iframe>
                  <% else indefinition.url.blank? %>

                  <% end %>
              </div>
            <% end %>
          </div>
        </div>
        </article>
      </section>

</div>
<%= javascript_include_tag 'wiki', 'data-turbolinks-track': 'reload' %>
