<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @variable.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @variable.description %>
</p>

<%= link_to 'Edit', edit_variable_path(@variable) %> |
<%= link_to 'Back', variables_path %>
