<!DOCTYPE html>
<html>
  <head>
    <title>Digitales</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to "DIGITALES", '/'%></li>
        <li><%= link_to "Dimensions", '/variables'%></li>
        <li><%= link_to "Indéfinitions", '/indefinitions'%></li>
        <li><%= link_to "Portraits", '/portraits'%></li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
