<div id="portrait">

  <section class="title">
    <h1 class="section-title">Portraits</h1>
    <p class="paragraph">Choisissez la dimension qui vous intéresse, vous pourrez ensuite naviguer au travers des portraits ou des indéfinitions liées à ce thème.</p>
  </section>

  <section class="section-container-portrait">

    <% @portraits.each do |portrait| %>
        <%= portrait.name %>
        <%= portrait.auteur %>
        <%= portrait.url %>
        <%= portrait.description %>
        <iframe frameborder="0" src=" <%= portrait.url %> "></iframe>
    <% end %>

  </section>

</div>
