<div id="show-portrait">
  
  <h2 class="section-title"><%= @portrait.name %></h2>
  <h3 class="title-author"><%= @portrait.auteur %></h3>

  <iframe frameborder="0" src=" <%= @portrait.url %> "></iframe>

    <strong>Description:</strong>
    <p class="paragraph"><%= @portrait.description %></p>

    <strong>Variable:</strong>
    <% @portrait.variable.each do |variable| %>
          <%= link_to variable.name.downcase!, variable_path(variable) %>
    <% end %>
  </p>


  <%= link_to 'Back', portraits_path %>
</div>
